<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="/css/nav.js"></script>
    <script src="/css/vali.js"></script>
    <title>TEKONE</title>
    <link rel="icon" href="/image/Tekone.png">  
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">  
    <link href="/css/bootstrap.min copy.css" rel="stylesheet">   
    <link href="/css/data.css" rel="stylesheet">  
    <link href="/css/tagsinput.css" rel="stylesheet">  
    <link href="/css/simplePagination.css" rel="stylesheet" />   
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet" />      
    <link href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" rel="stylesheet" />      
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="/css/nav.css"> <!-- Link login.css stylsheet to html code -->
    <script src="/js/nav.js"></script>  
</head>

    
    <title>Contacts</title>
</head>
<div th:replace="common/header :: navbar"> </div>

  <h1>Contacts</h1>
 
  <form action="submit-form.php" method="post" name="contactForm" onsubmit="return validateForm()">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>
    
    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone"><br><br>
    
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea><br><br>
    
    <input type="submit" value="Submit">





</body>
</html>