<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style3.css">
</head>
<body>
    <nav>
        <a href="/stock">Stock</a>
        <a href="/create_product">Create</a>
        <a href="#">Java Apllication</a>
        
    </nav>

    <section>
        <h2>Stock</h2>
        <!-- Add content for the Stock section here -->
    </section>

    <section>
        <h2>Products</h2>
        <!-- Add content for the Products section here -->
    </section>

    <section>
        <h2>About Us</h2>
        <!-- Add content for the About Us section here -->
    </section>

    <section>
        <h2>Contact Us</h2>
        <!-- Add content for the Contact Us section here -->
    </section>
</body>
</html>