<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style3.css">
</head>
<body>
    <nav>
        <a href="/stock">Stock</a>
        <a href="/create_product">Create</a>
        <a href="#">Java Apllication</a>
        
    </nav>

    <section>
        <h2>Customer Activity</h2>
        <!-- Add content for the Stock section here -->
    </section>

    <section>
        <h2>Sales</h2>
        <!-- Add content for the Products section here -->
    </section>
    <section>
        <h2>Revenue</h2>
        <!-- Add content for the Products section here -->
    </section>
    

    
</body>
</html>