<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TekOne</title>
        <link rel="stylesheet" href="style.css">
    </head>
      <header>
        
        <div class="headerr">
            <nav>
                <div class="logo">
                    <img src="pic/Tekone.png" alt="">
                    <span>
                        TEKONE
                    </span>
                </div>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            
            <ul class = "mobile-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contacts">Contact Us</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            </div>
            <body>
              <div class="content">
                  <h1 class = "slide-left">TEKONE</h1>
                  <p class = "slide-left"> we are going to sell a range of products to u including phones, Tv's, consoles and Earphones as accessories</p>
                  <div class="links slide-left">
                  <a href="/aboutus">Learn More</a>
                  <a href="/contacts"> or Contact</a>
              </div>
          </header>
          <body>
        </div>
        <script src="index.js"></script>
    </body>
</html>