<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TekOne</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <header>
        
        <div class="headerr">
            <nav>
                <div class="logo">
                    <img src="pic/Tekone.png" alt="">
                    <span>
                        TEKONE
                    </span>
                </div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Logint</a></li>
                </ul>
            </nav>
            <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            
            <ul class = "mobile-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contacts">Contact Us</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Logint</a></li>
            </ul>
            </div>
          </header>
          <script src="index.js"></script>
            <div class="content">
                <h1 class = "slide-left">The<br> Future</h1>
                <p class = "slide-left"> we are going to seel a range of products to u including phones, Tv's, consoles and Earphones as assecories</p>
                <div class="links slide-left">
                <a href="#">Learn More</a>
                <a href="#"> or Contact</a>
            </div>
        </div>
    </body>
</html>