<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop</title>

    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="products.css">
    <script src="nav.js"></script>
</head>
<nav>
  <div class="logo">
      <img src="pic/Tekone.png" alt="">
      <span>
          TEKONE
      </span>
  </div>
  <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/contacts">Contact Us</a></li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="/signup">Signup</a></li>
      <li><a href="/login">Login</a></li>
  </ul>
</nav>
<div id="hamburger-icon" onclick="toggleMobileMenu(this)">
<div class="bar1"></div>
<div class="bar2"></div>
<div class="bar3"></div>

<ul class = "mobile-menu">
  <li><a href="/index">Home</a></li>
  <li><a href="#">Features</a></li>
  <li><a href="/products">Products</a></li>
  <li><a href="/contacts">Contact Us</a></li>
  <li><a href="/aboutus">About Us</a></li>
  <li><a href="/signup">Signup</a></li>
  <li><a href="/login">Login</a></li>
</ul>
</div>
<body>
    <h1>Laptop Product</h1>
    <div class="product-info">
      <div class="product-image">
        <img src="/pic/laptop.jpg" alt="Laptop Image">
      </div>
      <div class="product-description">
        <p class="price">£750.99</p>
        <p>
          This laptop has the great battery life that a person could ask for at this price,
           you may be asking how long well 8 whole hours. That's not all with an amazing display 
           size and a powerful Intel core i7 processor  that makes traversing with the laptop as easy as pie.
        </p>
      </div>
    </div>
    <button id="add-to-cart">Add to Cart</button>
    <button id="remove-from-cart">Remove From Cart</button>
<br>
<br>
    <table class="specifications">
      <tr>
        <th>Processor</th>
        <td>Intel Core i7</td>
      </tr>
      <tr>
        <th>Memory</th>
        <td>16GB DDR4</td>
      </tr>
      <tr>
        <th>Storage</th>
        <td>500GB SSD</td>
      </tr>
      <tr>
        <th>Display</th>
        <td>17-inch Full HD (1920 x 1080)</td>
      </tr>
      <tr>
        <th>Graphics</th>
        <td>NVIDIA GeForce RTX 3080</td>
      </tr>
      <tr>
        <th>Operating System</th>
        <td>Windows 10 Home</td>
      </tr>
      <tr>
        <th>Battery Life</th>
        <td>Up to 8 hours</td>
      </tr>
    </table>



</body>
</html>